<header class="red">
    <img src="img/logo.png" alt="Logo">
    
    <!-- Menú hamburguesa -->
    <a class="menu_toggle">☰</a>

    <!-- Menú principal -->
    <div class="center-links">
        <a href="/"  class="<%= currentPages === 'inicio' ? 'active' : '' %>" >Inicio</a>
        <a href="/producto" class="<%= currentPages === 'producto' ? 'active' : ''%>">Productos</a>
        <a href="/descuentos" class="<%= currentPages === 'promociones' ? 'active' : ''%>">Promociones</a>
        <a href="/nosotros" class="<%= currentPages === 'nosotros' ? 'active' : ''%>">Nosotros</a>
    </div>
    
    <!-- Íconos del lado derecho -->
    <div class="icons">
        <a href="search" class="bi bi-search"></a>
        <a href="cart" class="bi bi-cart"> <%= objeto %></a>

        <% if (usuario) { %>
            <a href="#"><%= usuario %></a>
            <a href="/logout" class="bi bi-box-arrow-right"></a>
        <% } else { %>
            <a href="login" class="bi bi-person-circle"></a>
        <% } %>
    </div>
</header>
