<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="img/favicon.png" sizes="150x150" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://kit.fontawesome.com/5210f6d31f.js" crossorigin="anonymous"></script>
    <title>Producto</title>
</head>
<body>
    <body>
        <header class="red">
            <img src="img/logo.png" alt="">
            <a class="menu_toggle">☰</a>
            
              
                
                
                <ul>
                    <li><a href="/">INICIO</a></li>
                    <li><a href="/producto">PRODUCTOS</a></li>
                    <li><a href="/descuentos">PROMOCIONES</a></li>
                    <li><a href="/nosotros">NOSOTROS</a></li>
                    
                    <li><a href="search" class="bi bi-search"></a></li>
                    <li><a href="cart" class="bi bi-cart"></a>
                      <!--<a class="objeto" href="cart"><%= objeto%></a>-->
                    </li>
                    
                    <li>
                        <% if ( usuario ){ %>
                            <a href=""><%= usuario %></a>
                            <li><a href="/logout" class="bi bi-box-arrow-right"></a></li>
                        <% }else{%>
                            <a href="login" class="bi bi-person-circle"></a></li><br>
                        <%}%>
                   
                </ul>
                
                
              
              
            </header>
   <div class="top"></div>
   <div class="container">
    <div class="row pt-5">
      <% for(let i = 0; i < datos.length; i++) { %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card h-100">
            <a href="details?id=<%= datos[i].id %>">
              <img src="<%= urls[i] %>" class="card-img-top" alt="<%= datos[i].img_product %>">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title"><%= datos[i].nombre_prod %></h5>
              <p class="card-text text-muted"><b>$<%= parseFloat(datos[i].precio_publico).toLocaleString() %>.00</b></p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <script src="script/responsive.js"></script>
   
        
    
    