<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="img/favicon.png" sizes="150x150" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/descuento.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5210f6d31f.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        .principios-rectores {
            text-align: justify;
        }
        .btn-comentar {
            background-color: #f00000e8;
            border-color: #f00000e8; /* Asegúrate de que el borde también tenga el mismo color */
        }
    </style>
</head>
<body>
    <header class="red">
        <img src="img/logo.png" alt="">
        <a class="menu_toggle">☰</a>
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="producto">PRODUCTOS</a></li>
            <li><a href="/descuentos">PROMOCIONES</a></li>
            <li><a href="">NOSOTROS</a></li>
            <li><a href="search" class="bi bi-search"></a></li>
            <li><a href="cart" class="bi bi-cart"></a></li>
            <li>
                <% if (usuario) { %>
                    <a href=""><%= usuario %></a>
                    <li><a href="/logout" class="bi bi-box-arrow-right"></a></li>
                <% } else { %>
                    <a href="login" class="bi bi-person-circle"></a>
                <% } %>
            </li>
        </ul>
    </header>
    

    <div class="top"></div>
    <div class="container mt-5">
        <section class="nuestra_historia text-center">
            <h1 class="mb-4">Nuestra Historia</h1>
            <img src="img/logo_red.png" alt="" class="img-fluid mb-3">
            <p class="lead">En el año 2018, un grupo de apasionados por el mundo automotriz en la ciudad de Arandas decidió unir sus conocimientos y experiencia para fundar MRC Arandas. La visión detrás de esta iniciativa era crear un centro integral que ofreciera no solo las mejores refacciones automotrices, sino también servicios de taller de alta calidad.</p>
            <p>Desde entonces, MRC Arandas ha experimentado un crecimiento constante, convirtiéndose en un referente en la región. Nuestro compromiso con la excelencia y la satisfacción del cliente ha sido la fuerza impulsora detrás de cada acción que emprendemos.</p>
        </section>
        
        <section class="mision mt-5">
            <div class="text-center">
                <h2>Misión</h2>
                <p class="lead">En MRC Arandas, nuestra misión es proporcionar soluciones automotrices integrales y confiables a nuestros clientes. Nos esforzamos por ser el socio preferido para aquellos que buscan refacciones de calidad y servicios de taller excepcionales.</p>
            </div>
            <div class="text-center mt-4 principios-rectores">
                <h2>Principios Rectores</h2>
                <ul class="list-unstyled">
                    <li><b>- Calidad Intransigente:</b> Nos comprometemos a ofrecer las mejores refacciones disponibles en el mercado, garantizando durabilidad y rendimiento óptimo.</li>
                    <li><b>- Servicio Centrado en el Cliente:</b> Nuestros clientes son nuestra prioridad. Buscamos entender y superar sus expectativas, brindando un servicio personalizado y amigable.</li>
                    <li><b>- Técnica Avanzada:</b> Mantenemos nuestros talleres equipados con la última tecnología y capacitamos constantemente a nuestro personal para garantizar que estemos a la vanguardia en los avances del sector automotriz.</li>
                    <li><b>- Compromiso con la Comunidad:</b> Nos involucramos activamente en la comunidad de Arandas, contribuyendo al desarrollo local y apoyando iniciativas sociales.</li>
                    <li><b>- Ética Empresarial:</b> Operamos con transparencia, honestidad y ética en todas nuestras interacciones. Construimos relaciones sólidas basadas en la confianza mutua.</li>
                </ul>
            </div>
        </section>

        <% if (usuario) { %>
        <section class="comentario_form mt-5">
            <h2>Deja un comentario:</h2>
            <form action="/comentar" method="post" class="mt-3">
                <div class="mb-3">
                    <input type="text" name="comentario" class="form-control" placeholder="Escribe tu comentario aquí..." required>
                    <input type="hidden" name="usuario" value="<%= usuario %>">
                </div>
                <button type="submit" class="btn btn-comentar position-relative" style="color: #ffff;">
                    Comentar
                    <span class="spinner-border spinner-border-sm position-absolute" role="status" aria-hidden="true" style="display: none;"></span>
                </button>
            </form>
        </section>
        <% } %>

        <section class="comentarios mt-5">
            <h2>Comentarios:</h2>
            <% for (i = 0; i < comentarios.length; i++) { %>
                <div class="comentario border rounded p-3 mb-3" style="text-align: justify;">
                    <p class="usuario fw-bold"><%= comentarios[i].usuario %></p>
                    <p><%= comentarios[i].comentario %></p>
                    <p class="fecha text-muted"><%= comentarios[i].fecha %></p>
                </div>
            <% } %>
        </section>
    </div>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <img src="img/logo.png" alt="">
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Somos una empresa dedicada a la reparación y venta tanto como accesorios, cascos y reparaciones</p>
                <span><p>Horario de atención:</p></span>
                <p>Lunes a Miercoles: 9:30am - 8:00pm</p>
                <p>Jueves y Sabado: 9:30am - 4:00pm</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="/mensaje_admin" class="fa fa-facebook"></a>
                    <a href="/mensaje_admin" class="fa fa-instagram"></a>
                    <a href="/mensaje_admin" class="bi bi-whatsapp"></a>
                    <a href="/mensaje_admin" class="bi bi-envelope-at-fill"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2018 <b>MRC</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

    <script src="script/descuento.js"></script>
    <script>
        // Muestra el spinner al enviar el formulario
        const form = document.querySelector('.comentario_form form');
        const spinner = form.querySelector('.spinner-border');

        form.addEventListener('submit', function() {
            spinner.style.display = 'inline-block'; // Muestra el spinner
        });
    </script>
</body>
</html>
